<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252558251910-iohbvvql6p4av17h8vuundtiga5hsek2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252558251910-iohbvvql6p4av17h8vuundtiga5hsek2</string>
	<key>API_KEY</key>
	<string>AIzaSyAgkPRuLG0vlP2h5pmuO0YyJReLqd-4ttM</string>
	<key>GCM_SENDER_ID</key>
	<string>252558251910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCamp</string>
	<key>PROJECT_ID</key>
	<string>mycamp-5236e</string>
	<key>STORAGE_BUCKET</key>
	<string>mycamp-5236e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252558251910:ios:d12eee013e0337100d3e07</string>
</dict>
</plist>